@import "tailwindcss";

@theme {
  --color-void: #050505;
  --color-void-deep: #000000;
  --color-signal: #FF4500;
  --color-stark: #FFFFFF;

  --font-sans: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-roboto-mono), ui-monospace, SFMono-Regular, monospace;

  --animate-glitch: glitch 1s linear infinite;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}

/* Custom Utilities */
.glitch-text {
  position: relative;
  display: inline-block;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-void);
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 #ff00c1;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: -1px 0 #00fff9;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip-path: polygon(0 30%, 100% 30%, 100% 10%, 0 10%);
  }

  5% {
    clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
  }

  10% {
    clip-path: polygon(0 10%, 100% 10%, 100% 60%, 0 60%);
  }

  15% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip-path: polygon(0 10%, 100% 10%, 100% 80%, 0 80%);
  }

  5% {
    clip-path: polygon(0 60%, 100% 60%, 100% 10%, 0 10%);
  }

  10% {
    clip-path: polygon(0 90%, 100% 90%, 100% 30%, 0 30%);
  }

  15% {
    clip-path: polygon(0 20%, 100% 20%, 100% 50%, 0 50%);
  }

  20% {
    clip-path: polygon(0 100%, 100% 100%, 100% 10%, 0 10%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

body {
  background-color: var(--color-void);
  color: var(--color-stark);
  font-family: var(--font-sans);
  overflow-x: hidden;
}